 body{
    background-image:url("girl.jpg");
    background-repeat: repeat-x;
    color:yellow;
    background-image: cover;

}
.sub{
    background-color: black;
    color:yellow;
    margin-top: 40px;;
}
 .col{
    float:left;
    margin-top: 25px;
    margin-left: 10px;
} 
textarea{
    margin-top: 40px;
}
.main{
    

    position: relative;
    width:100%;
    height: 100px;
}
nav{
    float: right;
    display:flex;
    width:84%;
    margin-right: auto;
    padding:20px 0;
    align-items: center;
    justify-content: space-between;
    color: blue;
}
nav ul li{
    display:inline-block;
    list-style:none;
    align:right;
    margin-right:150px;
    
}
section{
    margin-top: 30px;
}
img{
    float: right;
    margin-right: 180px;
    margin-top: 20px;
    background-repeat:repeat-x;

}
